<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500,700,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/RNDV_logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/RNDV_logo.png">

    <meta content="RNDV(ランデブ) フレンドブッキングアプリ" property="og:title"/>
    <meta content="RNDV(ランデブ) フレンドブッキングアプリ" property="og:site_name">
    <meta content="ja_JP" property="og:locale">
    <meta content="https://rndv.jp" property="og:url">
    <meta content="家族、友人知人、気心知れた常連さんをお店に招待して「VIP気分」で喜んでもらおう！「人の繋がり」を大切にしているスタッフ専用の集客支援アプリです。月間で200人以上の集客に成功している飲食店が多数出ています。※特許出願済み初期のキャンペーン期間に伴い、契約がないお店のスタッフでもご利用頂けるようになっています。" property="og:description">
    <meta content="website" property="og:type" />
    <meta content="https://firebasestorage.googleapis.com/v0/b/reserve-beta.appspot.com/o/receiptImages%2FCqKczyRf8KdWYFKK1b7kFPHGfX2320202622225821Wed%20Feb%2012%2009%3A37%3A08%20%2B0000%202020.jpg?alt=media&token=73e5eb17-710f-4af4-88b7-9d48d9d952d6" property="og:image" />
    <title>RNDV(ランデブ) フレンドブッキングアプリ</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
